htnl,
body {
  width: 100%;
  height: 100%;
}
body {
  background: url('/assets/images/login_bg.jpg') no-repeat;
  background-size: cover;
}
#logo {
  margin: 20px 0 0 30px;
}
/* 登录和注册区 */
#login,
#register {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 默认注册盒子隐藏 */
#register {
  display: none;
}
.login-title {
  display: block;
  margin: 18px auto;
}
.layui-form {
  margin: 0 30px 0;
}
.goto-register,
.goto-login {
  display: flex;
  justify-content: flex-end;
}
